<ul class="nav navbar-nav">
  <li><a href="<%= users_path %>"> <%= t('godmin.navbar.users') %> </a></li>
  <li><a href="<%= courses_path %>"> <%= t('godmin.navbar.courses') %> </a></li>
  <li><a href="<%= pages_path %>"> <%= t('godmin.navbar.pages') %> </a></li>
  <li><a href="<%= admin_users_path %>"> <%= t('godmin.navbar.admin_users') %> </a></li>
</ul>

