= content_for :progress_bar do
  = params[:question_number]
  /
  = @course.questions.size

= content_for :left_side do
  .title-area
    %h2
      = @question.name
    = raw @question.question_content

= content_for :right_side do
  .title-area.text-center
    .h2
      = @question.description

    .separator.separator-danger ✻

  - @question.answers.each do |answer|
    %label.checkbox
      %h4.text-gray
        %input{type: 'checkbox'}
        = answer.name

  - if @next_question_number
    = link_to 'dalej', course_path(@question, @next_question_number), class: 'btn btn-danger btn-round btn-fill btn-wd'
