.row
  .col-md-4.col-md-offset-4
    %h2
      = t('.login')

    = form_for :user, url: {action: 'login'}, html: {class: 'form'} do |f|
      %div
        = f.label :email
        = f.text_field :email, class: 'form-control'
      %div
        = f.label :password
        = f.text_field :password, class: 'form-control'
      %div
        = f.submit t('.login'), class: "btn btn-info btn-fill"

      %hr
        = link_to t('reset_password'), account_reset_password_path
