<%= render partial: "breadcrumb" %>
<%= render template: "resource/show" %>
<br/>
<h5><%= t("godmin.questions") %></h5>
<%= render partial: "shared/subresources_table" %>
<br/>
<h5><%= t("godmin.attachments") %></h5>
<%= render partial: "attachments_table" %>



